body 
    {background-color: #FFF8D9;}
     
    
     h1 { color: #BB371A;}

     h3 {color: #EBA83A;}

     hr{                     
      border-style: groove; 
      border-color:#D5DBB3;
      border-width: 5px;}

    